*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #5f2c82;
    width: 100vw;
    height: 100vh;
}

main{
    width: 100vw;
    height: 100vh;
}

section#login{
    background-color: white;
    width: 250px;
    border-radius: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.525);
}

h1{
    text-align: center;
    font-size: 1.5em;
    margin: 5px 0px 10px 0px;
}
p{
    padding: 0px 2px;
    font-size: 0.8em;
    margin-bottom: 10px;
}

div#imagem{
    width: 100%;
    height: 200px;
    background: url("../imagens/metal.jpg");
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    background-position: center center;
}

div#formulario{
    padding: 0px 2px;
}

form{
    text-align: center;
}

div.campo{
    background-color: #5f2c82;
    margin: 10px 5px;
    border-radius: 5px;
    text-align: center;
}

span.material-icons{
    font-size: 1.6em;
    color: white;
    transform: translate(-6px, 5px);
}
input{
    display: inline-block;
    width: 80%;
    height: 30px;
    margin-right: -12px;
    position: relative;
    transform: translateY(-3px);
    border-style: none;
    border-radius: 5px;
    background-color: rgb(213, 244, 255);
}
input#entrar{
    display: block;
    width: 80%;
    height: 40px;
    text-align: center;
    margin: auto;
    background-color: #7b33ac;
    color: white;
    border-radius: 3px;
}
a#esqueci{
    display: block;
    border: 1.4px solid rgb(139, 49, 199);
    color: #7d23b9;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    width: 79%;
    padding: 10px 0px;
}

